.root {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 10px ), repeating-linear-gradient( #444cf755, #444cf7 );
}





.button {
    -fx-font-family: "Arial";
    -fx-font-size: 23px;
    -fx-background-color: #2e6da4;
    -fx-text-fill: white;
    -fx-padding: 8px 16px;
    -fx-border-radius: 4px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #3e7ab4;
}

.text-field {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-background-color: white;
    -fx-border-color: #c0c0c0;
    -fx-border-radius: 4px;
    -fx-padding: 8px;
}

.hyperlink {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-text-fill: #2e6da4;
    -fx-cursor: hand;
}

.hyperlink:hover {
    -fx-text-fill: #3e7ab4;
}
.logout-button {
    -fx-background-color: #cc0000;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8px 16px;
    -fx-border-radius: 4px;
}
.logout-button:hover {
    -fx-background-color: #FF6666;
}
.logout-button:pressed {
    -fx-background-color: #990000;
}
.validate-button {
    -fx-background-color: #00cc00;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8px 16px;
    -fx-border-radius: 4px;
}
.validate-button:hover {
    -fx-background-color: #00e600;
}
.validate-button:pressed {
    -fx-background-color: #009900;
}
#btnRetour {
    -fx-background-color: #4CAF50; /* Green */
    -fx-border-radius: 5px;
    -fx-border-color: #3E8E41; /* Dark green */
    -fx-border-width: 2px;
    -fx-text-fill: #fff; /* White text color */
    -fx-font-size: 16px;
    -fx-padding: 8px 15px;
}

#returnButton:hover {
    -fx-background-color: #3E8E41; /* Dark green */
}
.warm-blue-button {
    -fx-background-color: #4b93a5; /* Warm blue color code */
    -fx-text-fill: white; /* Set text color to white */
}
.greenish-button {
    -fx-background-color: rgb(50, 205, 50); /* Warm blue color code */
    -fx-text-fill: white; /* Set text color to white */
}
.olive-button {
     -fx-background-color:rgb(115, 79, 150); /* Warm blue color code */
     -fx-text-fill: white; /* Set text color to white */
 }